/*==================================================
	CSS Reset
==================================================*/

body, html, form, p, ul, li, ol, h1, h2, h3, h4, h5, h6, select
{
    behavior: url("iepngfix.htc");
    margin: 0;
    padding: 0;
}

body, html
{
    height: 100%;
    width: 100%;
}

img, div
{
    border: none;
    margin: 0;
    padding: 0;
}

body
{
    color: #666;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    background: #fff;
}

a
{
    color: #19acf2;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}

a img
{
    border: none;
}

a:hover
{
    color: #66cc00;
    text-decoration: none;
}

ol
{
    margin-left: 20px;
}

.clearFloats
{
    clear: both;
    display: block;
    font-size: 0px;
    height: 0px;
    line-height: 0px;
    margin: 0;
    overflow: hidden;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.mark em, label em{
    color: #44C4FC;
    font-style: normal;
}

.last{
    background: none !important;
}

.divider-dotted{
    background: url("images/divider_dotter.gif") repeat-x scroll left center transparent;
    clear: both;
    height: 40px;
    margin: 0;
    padding: 0;
}


/*==================================================
    HEADER
==================================================*/

.wrapper{
    width:984px;
    margin: 0 auto;
}

#header{
    height: 100px;
    background: #000;
}

#header .logo{
    float: left;
    height: 39px;
    margin-top: 26px;
    width: 141px;
}

#header .logo a{
    font-size: 22px;
}

#header .main-menu{
    float: left;
    font-family: Tahoma,Geneva,sans-serif;
    margin-left: 22px;
    margin-top: 5px;
}

#header .main-menu ul li{
    background: url("images/menu_border.gif") no-repeat scroll right center transparent;
    color: #FFFFFF;
    display: inline;
    float: left;
    margin-top: 20px;
    padding: 10px 18px 18px;
}

#header .main-menu ul li a{
    color: #FFFFFF;
    font-weight: lighter;
    padding-bottom: 18px;
    text-decoration: none;
    font-size: 1.7em;
}

#header .main-menu ul li a:hover{
    color: #7eff00;
}

#header .main-menu ul li a.active{
    background: url("images/green_arrow_down.gif") no-repeat scroll center bottom transparent;
    color: #7EFF00;
    font-weight: lighter;
    text-decoration: none;
}

#header .search-box{
    height: 30px;
    margin: 0;
    overflow: hidden;
    right: -90px;
    top: 32px;
    width: 190px;
    position: relative;
}

#header .search-box .search{
    padding: 1px 0 2px;
}


/*==================================================
    CONTENT
==================================================*/
#content{
    padding-top: 30px;
}

#content .content-left{
    width: 728px;
    float: left;
}

#content .content-left .page-description{
    background: url(images/divider_dotter.gif) repeat-x left bottom;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

#content .content-left .page-description h2{
    margin-bottom: 10px;
}

#content .content-left .page-description p{
    font-size: 14px;
    line-height: 1.2em;
}

#content .content-left .contact-form{

}

#content .content-left .contact-form form#contact-form .inputText{
    width: 341px;
}

#content .content-left .social-media{
    margin-bottom: 20px;
}

#content .content-left .social-media ul li{
    display: block;
    float: left;
    width:242px;
}

#content .content-left .social-media ul li h3{
    color: #000000;
    font: 38px Tahoma,Geneva,sans-serif;
    margin: 0 0 8px;
}

#content .content-left .social-media ul li span a{
    font: bold 14px Tahoma,Geneva,sans-serif;
}

#content .content-left .social-media ul li span a.twitter{
    display: block;
    background: url(images/icon_twitter.gif) no-repeat 0 0;
    height: 30px;
    padding-left: 40px;
}

#content .content-left .social-media ul li span a.facebook{
    display: block;
    background: url(images/icon_facebook.gif) no-repeat 0 0;
    height: 30px;
    padding-left: 40px;
}


#content .content-right{
    float: right;
}

#content .content-right .addressWrapper{
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    padding:20px; 
    width: 193px;
    clear:both;
}

#content .content-right h3.titleComponent{
    color: #000000;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 1.75em;
    font-weight: 500;
    margin-bottom: 8px;
}

#content .content-right .officeAddressContentWrapper{
    float: left;
}

#content .content-right .officeAddressContentWrapper .address{
    color: #666666;
    display: block;
    font: 12px/20px Tahoma,Geneva,sans-serif;
    margin: 12px 0 22px;
}

#content .content-right .officeAddressContentWrapper ul{
    clear: both;
    float: none;
    list-style: none outside none;
}

#content .content-right .officeAddressContentWrapper ul li{
    color: #000000;
    font: bold 12px Tahoma,Geneva,sans-serif;
    margin: 0 0 5px;
}

#content .content-right .officeAddressContentWrapper ul li span{
    color: #666666;
    font-weight: normal;
}


/*==================================================
    FOOTER
==================================================*/
#footer{
    background:#000;
    bottom: 0;
    color: #999999;
    font-family: Tahoma,Geneva,sans-serif;
    padding-top: 18px;
    padding-bottom: 30px;
}

#footer .footerWrapper{
    width: 1100px;
    margin: 0 auto;
}

#footer .footerWrapper .officeAddress .item{
    color: #FFFFFF;
    float: left;
    font-size: 110%;
    padding: 10px 0 0 100px;
    width: 243px;
}

#footer .footerWrapper .officeAddress .item h5{
    color: #FFFFFF;
    display: block;
    font-size: 1.1em;
    margin-bottom: 5px;
}

#footer .footerWrapper .officeAddress .item h5 span a{
    font-size: 1em;
    font-weight: lighter;
}

#footer .footerWrapper .officeAddress .item span.spPhone{
    color: #FFFFFF;
    display: block;
    margin-top: 5px;
}

#footer .footerWrapper #privacyContainer{
    font-size: 12px;
    margin: 0 auto;
    width: 540px;
}

#footer .footerWrapper #privacyContainer ul{
    float: left;
    margin-right: 20px;
}

#footer .footerWrapper #privacyContainer ul li{
    display: inline;
    margin-right: 12px;
}


#footer .footerWrapper .companyPartnerLogo{
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 28px;
    text-align: center;
    width: auto;
}

#footer .footerWrapper .companyPartnerLogo a img{
    margin: 0 20px 0 0;
}


/*==================================================
    COLUMN
==================================================*/
.two-col .col-left{
    width:341px;
    float: left;
}

.two-col .col-right{
    width:341px;
    float: right;
}

/*==================================================
    FORM
==================================================*/

form .form-element{
    margin-bottom: 20px;
    display: block;
}

form .form-element label{
    color: #333333;
    font: bold 14px Tahoma,Geneva,sans-serif;
    margin: 6px 0 6px 2px;
    clear: both;
    display: block;
}

form .form-element .inputText{
    background: #fff;
    border-radius: 3px;
    width:150px;
    float: left;
    border: solid 1px #ccc;
}

input[type="text"], input[type="password"]{
    background: none;
    border: none;
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding: 2px 10px;
    vertical-align: middle;
    width: 100%;
}

select{
    width:341px;
    padding:2px 10px;
    border: solid 1px #ccc;
    border-radius: 3px;
    color: #000;
}

textarea{
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 2px 10px;
    width:708px;
    height: 200px;
}

.button{
    border: medium none;
    display: block;
    padding: 10px 0;
    margin: 10px 0 14px;
    text-align: center;
    width: 235px;
    font: 18px "Myriad Pro",Tahoma;
    color: #fff;
    cursor: pointer;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background-color: #48c6fe;
    background-image: linear-gradient(to bottom, #48c6fe, #0a92d6);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#48c6fe), to(#0a92d6));
    background-image: -webkit-linear-gradient(top, #48c6fe, #0a92d6);
    background-image: -moz-linear-gradient(top, #48c6fe, #0a92d6);
    background-image: -ms-linear-gradient(top, #48c6fe, #0a92d6);
    background-image: -o-linear-gradient(top, #48c6fe, #0a92d6);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#48c6fe, endColorstr=#0a92d6);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#48c6fe, endColorstr=#0a92d6)";    

}

.button:hover{
    color: #fff;
    background-color: #66cc00;
    background-image: linear-gradient(to bottom, #66cc00, #57ad00);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#66cc00), to(#57ad00));
    background-image: -webkit-linear-gradient(top, #66cc00, #57ad00);
    background-image: -moz-linear-gradient(top, #66cc00, #57ad00);
    background-image: -ms-linear-gradient(top, #66cc00, #57ad00);
    background-image: -o-linear-gradient(top, #66cc00, #57ad00);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#66cc00, endColorstr=#57ad00);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#66cc00, endColorstr=#57ad00)";
}

.btnSearch{
    background: url(images/btn_search.gif) no-repeat 0 0;
    border: none;
    float: left;
    position: absolute;
    top:0;
    right: 10px;
    height: 30px;
    width:32px;
    cursor: pointer;
    text-indent: -9999px;
}

/*==================================================
    WALKTHROUGH
==================================================*/
#jWalkthrough p{
    font-size: 12px;
}

.tooltipTitle{
    margin-bottom: 10px;
}

#reopenWalkthrough, #reopenAlternateTheme{
    display: block;
    float: right;
    padding: 0;
    text-align: center;
    width: 235px;
    clear: both;
}

#reopenWalkthrough a, #reopenAlternateTheme a{
    color: #FFFFFF;
    height: 22px;
    padding: 10px 0;
}

a.closeWalkthrough{
    height: 24px;
}
